    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About The Vape Shoppe</h2>
                <p class="text-justify"></p>

                <p class="text-justify">The Vape Shoppe opened in December of 2013.  Our goal is to assist vapors, from beginning to expert.  We specialize in an array of devices, premium vape juice, and more.
				<br><br>We have two locations, Lake Havasu City and Parker, to serve your vaping needs.
				<br><br>Our experience with an array of devices has given us the ability to help our customers buy the right mod. tank, rebuildable, or whatever else they may need.</p>

            </div>
        </div>
    </section>
