    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About The Vape Shoppe</h2>
                <p class="text-justify">The Vape Shoppe opened in December of 2013.  Our goal is to assist vapors, from beginning to expert.  We specialize in an array of devices, custom juice, repairs, rebuilds and more.
				<br><br>We are a brick and mortar store located in Lake Havasu City, Arizona.  With our on-site clean lab, we hand craft every bottle of juice per customer.  Our clean lab has over 350 flavors so we can tune your flavor to your taste buds.
				<br><br>Our experience with an array of devices has given us the ability to help our customers buy the right mod. tank, rebuildable, or whatever else they may need.  Our friendly staff is also well knowledgeable in rda/rta rebuilds and modification, mod repair, custom box mods, pen battery repair and much much more.</p>
            </div>
        </div>
    </section>
