    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Products</h2>
                    <p>We make custom juice and carry a variety of hardware.</p>
                    <a href="/products/products" class="btn btn-default btn-lg">Visit Products Page</a>
                </div>
            </div>
        </div>
    </section>
