   <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Flavors</h2>
                <p><strong>Custom Recipies</strong><br>We have a variety of custom recipies created by our in house juice staff and our customers.</p>
                <div class="row bor1">
					<div class="col-sm-4">
						<p><br><br><br>Beetle Juice<br>Blue Raz Lemonade<br>Blueberry Cream<br>Citrus Twist<br>Crazy Pony<br>Dipped Strawberry<br>Lady Bug<br>Mixed Berry<br>Peach Bug</p>
					</div>
					<div class="col-sm-4">
						<p><br><strong>House Recipies</strong><br><br>Strawberry Banana<br>Strawberry Cream<br>Strawberry Kiwi<br>Strawberry Lemonade<br>Sweet 16<br>Tall Berries<br>Berry Cotton Candy<br>Big Red Gum<br>Bit O' Honey<br>Peanut Butter Cup<br><br>More to come...</p>
					</div>
					<div class="col-sm-4">
						<P><br><br><br>Sour Patch<br>Starburst<br>Swedish Fish<br>Werthers<br>Blue Dew<br>Cactus Cooler<br>Horchata<br>Mexican Coffee<br>Sweet Coffee</P>
					</div>
				</div>
				<p><br>*Many flavors can be combined with other flavors.<br>ie. Peach + Skittles = Peach Skittles</p>
				<p><br></p>
				<p><strong>Ingredients</strong><br>If you are feeling creative, this is a list of flavors we carry.  You can create a custom blend using these ingredients.</p>
				<div class="row bor1">
					<div class="col-sm-4">
						<p><br><br><br><br>Apple<br>Banana<br>Banana Cream<br>Black Berry<br>Black Cherry<br>Blueberry<br>Boysenberry<br>Canteloupe<br>Cherry<br>Coconut<br>Cranberry<br>Cucumber<br>Grape<br>Green Apple<br>Harvest Berries<br>Honeydew<br>Lemon<br>Lime<br>Mango<br>Orange<br>Peach<br>Pear<br></p>
					</div>
					<div class="col-sm-4">
						<p><br><strong>Create Your Own Juice (Ingredients)</strong><br><br>Pineapple<br>Raspberry<br>Ripe Strawberry<br>Strawberry<br>Sweet Tangerine<br>Watermelon<br>Black Licorice<br>Bubble Gum<br>Butter Rum<br>Butterscotch<br>Candy Cane<br>Candy Watermelon<br>Caramel<br>Cinnamon Redhots<br>Cotton Candy<br>English Toffee<br>Gummy Bear<br>Hot Tamale<br>Jolly Rancher<br>Juicy Fruit<br>Milk Chocolate<br>Mint Candy<br>Rainbow Line Gum<br><br>More to come...</p>
					</div>
					<div class="col-sm-4">
						<p><br><br><br><br>Red Licorice<br>Skittles<br>Sweet Tart<br>White Chocolate<br>Chai Tea<br>Cherry Cola<br>Cola<br>Dr. P<br>Hawaiian Punch<br>Jaggerbomb<br>Kahlua<br>Lemonade<br>Maragrita<br>Merlot<br>Mojito<br>Monster<br>Mountain Dew<br>Pina Colada<br>Pink Champagne<br>Redbull<br>Rockstar<br>Rootbeer<br></p></div>
				</div>
            </div>
        </div>
    </section>
