   <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Products Page</h2>
                <p class="text-center">Our new product list will be updated soon.  In the mean time please check out our facebook page for up to date information.</p>
<!--
                <p class="text-justify">The Vape Shoppe offers hand-crafted, premium us made e-juice.  We custom make each bottle of juice per order.  With a variety of options, you can use our knowledge to make the juice you truly want.  We use US premium ingredients in all of our juice.  Including; USP vegetable glycerin,  USP propylene glycol, artificial food flavorings, and nicotine (optional).
				<br><br><strong>Choose your nicotine</strong>
				<br>We offer any nicotine between 0 and 24, in single increments.
				<br><br><strong>PG/VG Ratio</strong>
				<br>Different ratios for different devices.  Everyone likes their own mixture so accommodate.  You can choose anything from 50/50 PG/VG to 100% VG.
				<br><br><strong>Flavors</strong>
				<br>With over 100 recipes and over 350 flavor ingredients, you can make your juice taste however you wish.</p>
				<a href="/products/flavors" class="btn btn-default btn-lg">Full Flavor List</a>
-->
				
                <p class="text-center"><br>Mods & Accessories</p>
                <p class="text-justify">We carry a variety of mods and accessories.  Everything from pen style batteries and starter kits to advanced mods and high performance batteries.  We stock the newest style mods, RDAs, RTAs, tanks, and much more.<br><br>Stop by the shop to check out our current inventory.</p>
				<!-- <a href="/products/mods" class="btn btn-default btn-lg">Mods & Accessories</a>
                -->
                <p class="text-center"><br>Premium E-Juice</p>
                <p class="text-justify">We stock a selection of premium e-juices.  Brands include; Naked 100, Bazooka, Kilo, One Hit Wonder, and many more.</p>
            </div>
        </div>
    </section>
